html
  head
    title Twooter
    link(rel='stylesheet' href='public/css/main.css')
  body
    h1#header Enter a Twitter Handle
    #inputs
      input#handle(type='text')
      button#submit Go
    #twoots
      .tweet
        p.twtext Blah blah blah blah
        p.twdate wendesdya 4:00

    script(src='http://code.jquery.com/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js')
    script(src='//localhost:35729/livereload.js')
    script(src='/socket.io/socket.io.js')
    script(src='public/js/main.js')